html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body.no-scroll, html.no-scroll {
  overflow: hidden !important; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  transition: color .3s ease; }
  a:hover {
    color: #c41230; }

.btn {
  background: #c41230;
  color: #fff;
  transition: all .3s ease; }
  .btn:hover {
    background: #ef4d69; }
  .btn:active {
    background: #950e25; }

/**
  Mobile first FTW
*/
#loading {
  left: 65px;
  z-index: 5;
  background: #fff; }
  #loading .loader {
    width: 32px;
    height: 32px;
    clear: both;
    margin: 20px auto;
    background-color: #c41230;
    border-radius: 50%;
    position: relative;
    -webkit-animation: loader .6s infinite linear;
    animation: loader .6s infinite linear; }
    #loading .loader:after {
      content: '';
      border-radius: 50%;
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      left: 5px;
      top: 5px;
      background-color: white; }

@keyframes loader {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.kfc__header {
  z-index: 10;
  background: transparent; }
  .kfc__header.common-header {
    background: #c41230; }
    .kfc__header.common-header a:hover {
      color: #fff; }

.kfc__stores .kfc__stores-link,
.kfc__navigation .kfc__navigation-link,
.kfc__menus .kfc__menus-link,
.kfc__cart .kfc__cart-link {
  font-size: 2em;
  color: #fff; }
  .kfc__stores .kfc__stores-link:hover,
  .kfc__navigation .kfc__navigation-link:hover,
  .kfc__menus .kfc__menus-link:hover,
  .kfc__cart .kfc__cart-link:hover {
    color: #c41230; }

.kfc__logo img {
  width: 3em; }

.menu-animate, .menu-toggle, .menu-toggle:before, .menu-toggle:after, .menu-toggle .icon, .menu-toggle .icon .square {
  transition: all 0.5s cubic-bezier(0.31, -0.105, 0.43, 1.59); }

.menu-toggle {
  width: 1em;
  height: 1em;
  margin: auto;
  cursor: pointer; }
  .menu-toggle:before, .menu-toggle:after {
    height: 1em;
    line-height: 1em;
    margin-right: 30px;
    padding-right: 100%;
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0; }
  .menu-toggle .icon {
    width: 1em;
    height: 1em;
    position: relative; }
    .menu-toggle .icon .square {
      background-color: #333;
      width: 24%;
      height: 24%;
      position: absolute; }
      .menu-toggle .icon .square:nth-child(1) {
        top: 0;
        left: 0; }
      .menu-toggle .icon .square:nth-child(2) {
        top: 0;
        left: 38%; }
      .menu-toggle .icon .square:nth-child(3) {
        top: 0;
        left: 76%; }
      .menu-toggle .icon .square:nth-child(4) {
        top: 38%;
        left: 0; }
      .menu-toggle .icon .square:nth-child(5) {
        top: 38%;
        left: 38%; }
      .menu-toggle .icon .square:nth-child(6) {
        top: 38%;
        left: 76%; }
      .menu-toggle .icon .square:nth-child(7) {
        top: 76%;
        left: 0; }
      .menu-toggle .icon .square:nth-child(8) {
        top: 76%;
        left: 38%; }
      .menu-toggle .icon .square:nth-child(9) {
        top: 76%;
        left: 76%; }
  .menu-toggle:hover .square {
    background-color: #c41230; }
  .menu-toggle.expand:before {
    opacity: 0;
    transform: rotate(45deg); }
  .menu-toggle.expand:after {
    opacity: 1;
    transform: rotate(0deg); }
  .menu-toggle.expand .icon {
    transform: rotate(45deg); }
    .menu-toggle.expand .icon .square {
      background-color: #c41230; }
      .menu-toggle.expand .icon .square:nth-child(1), .menu-toggle.expand .icon .square:nth-child(3), .menu-toggle.expand .icon .square:nth-child(7), .menu-toggle.expand .icon .square:nth-child(9) {
        opacity: 0; }
  .menu-toggle:active {
    opacity: .8; }

.kfc__main-content {
  background: #fff; }

.kfc__index-banner-container {
  position: relative;
  z-index: 5; }

.fp-controlArrow.fp-next {
  border-width: 1em 0 1em 1em;
  border-left-color: rgba(255, 255, 255, 0.75); }

.fp-controlArrow.fp-prev {
  border-width: 1em 1em 1em 0;
  border-right-color: rgba(255, 255, 255, 0.75); }

.kfc__index-banner {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .kfc__index-banner .kfc__banner-item {
    height: 100vh;
    position: relative; }
    .kfc__index-banner .kfc__banner-item .kfc__banner-image {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100vw; }
      .kfc__index-banner .kfc__banner-item .kfc__banner-image:after {
        content: '';
        background: transparent url("../img/pattern.png") repeat top left;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0; }
    .kfc__index-banner .kfc__banner-item:nth-child(1) .kfc__banner-image {
      background-image: url("../img/banner1.jpg"); }
    .kfc__index-banner .kfc__banner-item:nth-child(2) .kfc__banner-item-inner {
      position: relative; }
      .kfc__index-banner .kfc__banner-item:nth-child(2) .kfc__banner-item-inner:nth-child(1) .kfc__banner-image {
        background-image: url("../img/banner2.jpg"); }
      .kfc__index-banner .kfc__banner-item:nth-child(2) .kfc__banner-item-inner:nth-child(2) .kfc__banner-image {
        background-image: url("../img/feature_jimat_box.png"); }
      .kfc__index-banner .kfc__banner-item:nth-child(2) .kfc__banner-item-inner:nth-child(3) .kfc__banner-image {
        background-image: url("../img/feature_rice_wrap.png"); }
    .kfc__index-banner .kfc__banner-item:nth-child(3) .kfc__banner-image {
      background-image: url("../img/banner3.jpg"); }
    .kfc__index-banner .kfc__banner-item:nth-child(4) .kfc__banner-image {
      background-image: url("../img/feature_crs.png"); }
    .kfc__index-banner .kfc__banner-item .kfc__banner-text {
      padding-top: 35vh;
      color: #fff;
      background: rgba(0, 0, 0, 0.35);
      z-index: 7; }
      .kfc__index-banner .kfc__banner-item .kfc__banner-text h2 {
        font-size: 2rem;
        margin: 0 auto 1rem;
        display: none; }
        .kfc__index-banner .kfc__banner-item .kfc__banner-text h2.reveal {
          display: block; }
      .kfc__index-banner .kfc__banner-item .kfc__banner-text a {
        padding: 1rem 2rem;
        display: none; }
        .kfc__index-banner .kfc__banner-item .kfc__banner-text a.reveal {
          display: inline-block; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff; }

.kfc__stores-search {
  z-index: 120;
  background: rgba(0, 0, 0, 0.55);
  display: none; }
  .kfc__stores-search.reveal {
    display: block;
    overflow: auto; }
  .kfc__stores-search .kfc__stores-search-inner {
    background-color: #fff;
    min-height: 100%; }
    .kfc__stores-search .kfc__stores-search-inner .close {
      top: 1rem;
      left: 1rem; }
    .kfc__stores-search .kfc__stores-search-inner .places {
      width: 100%;
      font-size: 1em;
      padding-right: 2em;
      border-bottom: 2px solid #333;
      outline: 0;
      transition: all .3s ease; }
      .kfc__stores-search .kfc__stores-search-inner .places:focus {
        background: rgba(0, 0, 0, 0.1); }
    .kfc__stores-search .kfc__stores-search-inner .icon {
      top: 0;
      right: 1em;
      font-size: 1em; }

.kfc__menu-list {
  z-index: 120;
  display: none; }
  .kfc__menu-list .kfc__menu-overlay {
    background: rgba(0, 0, 0, 0.55);
    z-index: 10;
    width: 96vw; }
  .kfc__menu-list .kfc__menus-container {
    background: #fff; }
  .kfc__menu-list.reveal {
    display: block;
    overflow: auto; }
  .kfc__menu-list .kfc__menu-list-inner {
    background-color: #fff;
    min-height: 100%;
    z-index: 11;
    width: 100%; }
    .kfc__menu-list .kfc__menu-list-inner .close {
      top: 1rem;
      left: 1rem; }
    .kfc__menu-list .kfc__menu-list-inner .menu-list {
      list-style-type: none; }
      .kfc__menu-list .kfc__menu-list-inner .menu-list .item {
        height: 270px;
        position: relative;
        perspective: 800px;
        margin-bottom: 1em; }
        .kfc__menu-list .kfc__menu-list-inner .menu-list .item:hover .card {
          transform: rotateY(180deg); }
          .kfc__menu-list .kfc__menu-list-inner .menu-list .item:hover .card figure {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
        .kfc__menu-list .kfc__menu-list-inner .menu-list .item .card {
          width: 100%;
          height: 100%;
          position: absolute;
          transform-style: preserve-3d;
          transition: transform 1s; }
          .kfc__menu-list .kfc__menu-list-inner .menu-list .item .card figure {
            margin: 0;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            box-shadow: 0;
            transition: box-shadow 1s; }
            .kfc__menu-list .kfc__menu-list-inner .menu-list .item .card figure.back-card {
              background: #fff;
              transform: rotateY(180deg);
              padding: 5rem 1rem 1rem;
              text-align: center; }
              .kfc__menu-list .kfc__menu-list-inner .menu-list .item .card figure.back-card .btn {
                display: block;
                margin-bottom: 1rem; }
    .kfc__menu-list .kfc__menu-list-inner .item-image {
      display: block;
      text-align: center; }
      .kfc__menu-list .kfc__menu-list-inner .item-image img {
        max-width: 100%; }
    .kfc__menu-list .kfc__menu-list-inner .item-name {
      text-align: center;
      display: block;
      padding: 2rem 0; }

.kfc__menu-list .menu-list,
.delivery-menu-list .menu-list {
  display: none; }
  .kfc__menu-list .menu-list.reveal,
  .delivery-menu-list .menu-list.reveal {
    display: flex; }

.kfc__menu-list .delivery-menu,
.delivery-menu-list .delivery-menu {
  list-style-type: none;
  text-align: center; }

.kfc__menu-list h4,
.delivery-menu-list h4 {
  text-align: center;
  margin: 0; }
  .kfc__menu-list h4.expand a:after,
  .delivery-menu-list h4.expand a:after {
    width: 100%;
    background: #c41230; }
  .kfc__menu-list h4 a,
  .delivery-menu-list h4 a {
    position: relative;
    display: block;
    padding: 1rem; }
    .kfc__menu-list h4 a:hover:after,
    .delivery-menu-list h4 a:hover:after {
      width: 100%;
      background: #c41230; }
    .kfc__menu-list h4 a:after,
    .delivery-menu-list h4 a:after {
      content: "";
      display: block;
      width: 1px;
      height: 1px;
      background: transparent;
      margin: 0 auto;
      transition: all .35s ease;
      position: relative;
      top: -10px; }
    .kfc__menu-list h4 a span,
    .delivery-menu-list h4 a span {
      background: #fff;
      position: relative;
      z-index: 1; }

.kfc__feature-container {
  background: #000;
  height: 60vh; }
  .kfc__feature-container .kfc__featured-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh; }

.slick-dots {
  bottom: 1em; }
  .slick-dots li button:before {
    font-size: 12px;
    color: #fff;
    opacity: .8; }
  .slick-dots li.slick-active button:before {
    color: #c41230; }

.kfc__featured-nav-container {
  height: 32.5vh; }

.kfc__featured-nav {
  height: 100%;
  background-color: #e6e6e6;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  border-color: #b3b3b3; }
  .kfc__featured-nav h2 {
    text-transform: uppercase;
    display: block;
    letter-spacing: 6px;
    word-break: break-word;
    line-height: 1.5;
    width: 65%; }

.menu-nav-link {
  background-image: url("../img/menu_link.png"); }

.locate-nav-link {
  background-image: url("../img/marker_link.png"); }

.kfc__navigation-wrap {
  z-index: 12;
  display: none;
  left: 0;
  overflow: auto;
  background: #fff; }
  .kfc__navigation-wrap .close {
    top: 1rem;
    left: 1rem;
    z-index: 1; }
    .kfc__navigation-wrap .close:hover {
      color: #c41230; }
  .kfc__navigation-wrap.reveal {
    display: block; }
  .kfc__navigation-wrap .kfc__navigation-content {
    background: #fff; }
  .kfc__navigation-wrap .kfc__footer-content {
    cursor: pointer;
    transition: background .3s ease; }
    .kfc__navigation-wrap .kfc__footer-content a {
      line-height: 9; }
    .kfc__navigation-wrap .kfc__footer-content:hover {
      background-color: #c41230; }
      .kfc__navigation-wrap .kfc__footer-content:hover a {
        color: #fff; }
  .kfc__navigation-wrap a {
    display: block; }
    .kfc__navigation-wrap a:hover {
      color: #fff; }

.kfc__navigation-secondary-links {
  border-color: #e6e6e6; }

.kfc__navigation-footer-container {
  text-align: center; }

.kfc__navigation-main-content,
.kfc__navigation-secondary-content,
.kfc__navigation-footer-container {
  border-color: #e6e6e6; }

.kfc__footer {
  padding: 0;
  list-style: none;
  margin: 0;
  font-size: .8em; }
  .kfc__footer a {
    transition: all .3s ease;
    border-bottom: 1px solid transparent;
    display: inline-block; }
    .kfc__footer a:hover {
      color: #c41230;
      border-bottom: 1px solid #c41230; }

.kfc__footer-social .icon {
  font-size: 2em; }

.expand-effect {
  width: 100vw;
  height: 100vh;
  z-index: 1; }
  .expand-effect.grow {
    z-index: 999; }
  .expand-effect .inner {
    width: 1px;
    height: 1px;
    background: transparent;
    transition: all .35s ease; }
    .expand-effect .inner.inner-grow-width {
      width: 100%;
      background-color: #c41230; }
    .expand-effect .inner.inner-grow-height {
      height: 100%; }

.kfc__delivery-container {
  height: 100vh; }

.kfc-delivery-first,
.kfc-delivery-second,
.kfc-delivery-third,
.kfc-delivery-fourth,
.kfc-delivery-fifth {
  display: none;
  background-color: #fff;
  padding-top: 4rem;
  z-index: 2; }
  .kfc-delivery-first.reveal,
  .kfc-delivery-second.reveal,
  .kfc-delivery-third.reveal,
  .kfc-delivery-fourth.reveal,
  .kfc-delivery-fifth.reveal {
    display: block; }

.kfc-delivery-first .location-success {
  background: #690;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block; }

.kfc-delivery-first .delivery-menu {
  list-style-type: none; }
  .kfc-delivery-first .delivery-menu .item img {
    max-width: 100%; }
  .kfc-delivery-first .delivery-menu .item .btn {
    display: block; }

.kfc-delivery-first .item-description {
  list-style-type: none;
  line-height: 1.5;
  font-size: .8em; }

.kfc-delivery-first .order-container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0; }

.kfc-delivery-second .delivery-cart-inner {
  background: #fff; }

.kfc-delivery-second .ordered-item img {
  max-width: 100%; }

.kfc-delivery-third input {
  font-size: 1em;
  border-bottom: 2px solid #333;
  transition: border .3s ease;
  outline: 0; }
  .kfc-delivery-third input:focus {
    border-bottom-color: #c41230; }

.kfc-delivery-third input, .kfc-delivery-third button {
  display: block;
  width: 100%;
  margin-bottom: 1rem; }

.login-with-fb {
  background-color: #3b5998; }

.login-screen-container {
  display: none;
  background: #fff;
  z-index: 8; }
  .login-screen-container.reveal {
    display: block; }
  .login-screen-container .login-inner {
    height: 100vh; }
  .login-screen-container .close {
    right: 2rem;
    top: 6rem; }
  .login-screen-container input {
    font-size: 1em;
    border-bottom: 2px solid #333;
    transition: border .3s ease;
    outline: 0; }
    .login-screen-container input:focus {
      border-bottom-color: #c41230; }
  .login-screen-container input, .login-screen-container button {
    display: block;
    width: 100%;
    margin-bottom: 1rem; }

.kfc-delivery-fourth .payment-method {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px; }
  .kfc-delivery-fourth .payment-method .payment-option {
    cursor: pointer;
    transition: all .3s ease; }
    .kfc-delivery-fourth .payment-method .payment-option:hover {
      background: rgba(0, 0, 0, 0.15); }
  .kfc-delivery-fourth .payment-method .payment-option:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.15); }

.kfc-delivery-fifth .order-item img {
  max-width: 10em; }

.kfc-delivery-fifth .order-item .btn {
  display: block; }

#chickenCategory {
  background-image: url("../img/menu_chicken.png"); }

#combosCategory {
  background-image: url("../img/menu_combos.png"); }

#burgerCategory {
  background-image: url("../img/menu_burger.png");
  background-position: 6em center; }
  #burgerCategory:hover {
    background-position: 2em center; }

#sideCategory {
  background-image: url("../img/menu_side.png"); }

#treatsCategory {
  background-image: url("../img/menu_treats.png");
  background-position: 5em center; }
  #treatsCategory:hover {
    background-position: 1em center; }

#breakfastCategory {
  background-image: url("../img/menu_breakfast.png");
  background-position: 6em center; }
  #breakfastCategory:hover {
    background-position: 2em center; }

#dessertsCategory {
  background-image: url("../img/menu_desserts.png");
  background-position: 3em center; }
  #dessertsCategory:hover {
    background-position: -1em center; }

#chicken15 {
  background-image: url("../img/menu_chicken.png"); }

#chicken9 {
  background-image: url("../img/menu_chicken9.png");
  background-position: 5em center; }

#chicken2 {
  background-image: url("../img/menu_chicken2.png");
  background-position: 5em center; }

#chicken3 {
  background-image: url("../img/menu_chicken3.png");
  background-position: 5em center; }

#chicken5 {
  background-image: url("../img/menu_chicken5.png");
  background-position: 5em center; }

#chicken9:hover,
#chicken2:hover,
#chicken3:hover,
#chicken5:hover {
  background-position: 3em center; }

.kfc__menu-categories,
.kfc__menu-subcategories {
  background-size: cover;
  background-position: 5em center;
  background-repeat: no-repeat;
  border: 1px solid #e6e6e6;
  border-left-width: 0;
  border-top-width: 0;
  transition: background .3s ease; }
  .kfc__menu-categories .submenu-close,
  .kfc__menu-subcategories .submenu-close {
    line-height: 1;
    padding: 3rem 0; }
    .kfc__menu-categories .submenu-close .icon,
    .kfc__menu-subcategories .submenu-close .icon {
      color: #c41230;
      font-size: 2em; }
    .kfc__menu-categories .submenu-close span,
    .kfc__menu-subcategories .submenu-close span {
      display: block; }
  .kfc__menu-categories:first-child, .kfc__menu-categories:nth-child(4n+5),
  .kfc__menu-subcategories:first-child,
  .kfc__menu-subcategories:nth-child(4n+5) {
    border-left-width: 1px; }
  .kfc__menu-categories:nth-child(-n+4),
  .kfc__menu-subcategories:nth-child(-n+4) {
    border-top-width: 1px; }
  .kfc__menu-categories:nth-child(4n+1),
  .kfc__menu-subcategories:nth-child(4n+1) {
    animation-delay: .2s; }
  .kfc__menu-categories:nth-child(4n+2),
  .kfc__menu-subcategories:nth-child(4n+2) {
    animation-delay: .4s; }
  .kfc__menu-categories:nth-child(4n+3),
  .kfc__menu-subcategories:nth-child(4n+3) {
    animation-delay: .6s; }
  .kfc__menu-categories:nth-child(4n+4),
  .kfc__menu-subcategories:nth-child(4n+4) {
    animation-delay: .8s; }
  .kfc__menu-categories:hover,
  .kfc__menu-subcategories:hover {
    background-position: 2em center;
    background-color: #c41230;
    border-color: #c41230; }
    .kfc__menu-categories:hover h3 a,
    .kfc__menu-subcategories:hover h3 a {
      color: #fff; }
    .kfc__menu-categories:hover .submenu-close .icon,
    .kfc__menu-subcategories:hover .submenu-close .icon {
      color: #fff; }
  .kfc__menu-categories h3,
  .kfc__menu-subcategories h3 {
    line-height: 2; }
    .kfc__menu-categories h3 a,
    .kfc__menu-subcategories h3 a {
      display: block; }

.kfc__menu-container {
  padding-top: 6rem; }

.kfc__menu-description-wrapper {
  background: #fff; }

.kfc__menu-description-content h2 {
  background: #c41230;
  color: #fff; }

.kfc__single-menu-cover img {
  max-width: 100%;
  margin: 0 auto;
  display: block; }

.kfc__single-menu-close {
  top: 1em;
  right: 1em;
  z-index: 3;
  background: #fff;
  font-size: 2em;
  padding: .3em .5em; }
  .kfc__single-menu-close .icon {
    color: #c41230; }

.kfc_menu-price {
  display: block; }

.kfc__menu-words {
  line-height: 1.5; }

.kfc__gst-note {
  border-top: 2px dashed #c41230; }

.product-navigator {
  height: 100vh;
  z-index: 5; }
  .product-navigator a {
    color: rgba(0, 0, 0, 0.55);
    font-size: 2rem;
    margin: 0 1rem; }

.kfc__store-container {
  padding-top: 86px; }
  .kfc__store-container .kfc_store-results,
  .kfc__store-container .kfc_store-map {
    height: calc(100vh - 86px); }
  .kfc__store-container .kfc_store-map {
    background-image: url("../img/map.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .kfc__store-container .kfc__store-area,
  .kfc__store-container .kfc__store-option,
  .kfc__store-container .results-count {
    border-bottom: 1px solid #e6e6e6; }
  .kfc__store-container .kfc__store-area input {
    background: white;
    border: 0;
    height: auto;
    padding: 1em;
    width: 100%;
    font-size: 1em;
    outline: 0; }
  .kfc__store-container .kfc__store-results {
    height: calc(100% - 102px); }
  .kfc__store-container .results-address-container {
    height: calc(100% - 49px);
    overflow-y: auto; }
  .kfc__store-container .results-address-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #f2f2f2; }
    .kfc__store-container .results-address-list .result-address {
      border-bottom: 1px solid #b3b3b3; }

@media (min-width: 41em) {
  .kfc__menu-overlay {
    width: 99vw; }
  .kfc__menu-list-inner {
    width: 80vw; }
  .kfc__menu-description-content h2 {
    position: relative;
    top: -3rem;
    margin-bottom: -3rem; }
  .kfc__banner-text {
    padding-top: 45vh; }
    .kfc__banner-text h2 {
      font-size: 3rem; } }
